body {
    background-image: url('Baltimore-Maryland-skyline.png'); 
    background-size: cover; /* Para ajustar o tamanho da imagem ao tamanho da tela */
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Elementos da frase inferior esquerda */
.frase {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    
}

body {
    color: white; /* Cor do texto: branco */
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif; /* Usando a fonte Arial Rounded MT, se não disponível, tenta Helvetica Rounded, Arial e fontes genéricas sans-serif */
  }

abbr:hover::before {
    display: block; /* Mostra o tooltip quando o cursor estiver sobre o elemento */
}


/* Formatação do título e posicionamento */
body {
    margin: 0;
    padding: 0;
}

.bem-vindo {
    background-color: #0000007e;
    color: white;
    text-align: center;
    padding: 10px;
}

        




 